<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <title>@ViewData["Title"]</title>
</head>
<body>

    <header class="cabecalho">
        <div class="logo">
            <a href="#">
                <img src="imgs/Sigmono.png" alt="sig Monografias Ifma">
            </a>
        </div>
        <div class="login">
            Login
        </div>
    </header>

    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btn-exp"></i>
        </div><!---btn expandir-->
        <ul>
            <li class="item-menu ativo">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="fa-regular fa-file-pdf"></i></span>
                    <span class="txt-link">Monografias</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-graduation-cap"></i></span>
                    <span class="txt-link">Dircentes</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-chalkboard-user"></i></span>
                    <span class="txt-link">Docentes</span>
                </a>
            </li>

            <li class="item-menu">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="txt-link">Funcionários</span>
                </a>
            </li>
        </ul>
    </nav> <!--Menu lateral-->




    <script src="~/js/dashboard.js"></script>


    <script src="https://kit.fontawesome.com/a37571b192.js" crossorigin="anonymous"></script>
</body>
</html>