<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!--Links legados-->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    
    <!-- Fonte do Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <!-- DataTables CSS -->
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/artigo.ico" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <header class="cabecalho">
        <div class="logo">
            <a asp-controller="Monografia" asp-action="Index">
                <img src="~/imgs/Sigmono.png" alt="sig Monografias Ifma">
            </a>
        </div>
        <div class="login">
            Login
        </div>
    </header>

    <nav class="menu-lateral">
        <div class="btn-expandir">
            <i class="fa-solid fa-bars" id="btn-exp"></i>
        </div><!---btn expandir-->
        <ul>
            <li class="item-menu ativo">
                <a href="#">
                    <span class="icon"><i class="fa-solid fa-house"></i></span>
                    <span class="txt-link">Home</span>
                </a>
            </li>

            <li class="item-menu">
                <a asp-controller="Monografia" asp-action="Index">
                    <span class="icon"><i class="fa-regular fa-file-pdf"></i></span>
                    <span class="txt-link">Monografias</span>
                </a>
            </li>

            <li class="item-menu">
                <a asp-controller="Aluno" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-graduation-cap"></i></span>
                    <span class="txt-link">Dircentes</span>
                </a>
            </li>

            <li class="item-menu">
                <a asp-controller="Professor" asp-action="Index">
                    <span class="icon"><i class="fa-solid fa-chalkboard-user"></i></span>
                    <span class="txt-link">Docentes</span>
                </a>
            </li>

            <li class="item-menu">
                <a asp-controller="Funcionario" asp-action="Registro">
                    <span class="icon"><i class="fa-solid fa-user"></i></span>
                    <span class="txt-link">Funcionários</span>
                </a>
            </li>
        </ul>
    </nav> <!--Menu lateral-->

    <div class="main">
        @RenderBody()
    </div>



    <!-- ./wrapper -->
    <!-- SCRIPTS JS NECESSÁRIOS -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables jQuery -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- links do font awesome pra usar icones-->
    <script src="https://kit.fontawesome.com/a37571b192.js" crossorigin="anonymous"></script>

    <script src="~/js/dashboard.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>