@using Microsoft.AspNetCore.Identity
@inject SignInManager<Funcionario> SingInManager

    <head>




        <style>
            #singed-user
            {
                display: flex;
                align-items: center;
                padding: 10px;
            }
        </style>

    </head>

@if (SingInManager.IsSignedIn(User))
{
    <a class="dropdown-toggle" data-toggle="dropdown" id="singed-user">

        <img src="~/imgs/usuario.png" class="user-image" alt="Usuário" id="user-img">

        <h6><span class="badge badge-light">Bem Vindo @User.Identity.Name</span></h6>
    </a>

    <ul class="dropdown-menu">

        <!-- Corpo do Menu -->
        <li class="user-body">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <a href="#">Conta</a>
                </div>
            </div>
            <!-- /.row -->
        </li>


        <!-- Rodapé do Menu -->
        <li class="user-footer">


            <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Perfil</a>
            </div>


            <div class="pull-right">
                <a asp-controller="Funcionario" asp-action="Logout"  class="btn btn-default btn-flat">Sair</a>
            </div>

        </li>

    </ul>
    
    
    
    @* <ul class="nav-item" style="padding-left:0">
        <div class="btn btn-default btn-flat">
            <form method="post" asp-controller="Funcionario" asp-action="Logout">
                <button type="submit" style="width:auto;" class="nav-link btn btn-link py-0"> 
                    Logout @User.Identity.Name
                </button>
            </form>
        </div>
    </ul> *@
}
else
{

    <a class="dropdown-toggle" asp-controller="Funcionario" asp-action="Login" id="singed-user">

        <img src="~/imgs/usuario.png" class="user-image" alt="Usuário" id="user-img">

        <h6><span class="badge badge-light">Login</span></h6>
    </a>






    @* <ul class="nav-item">
       @*  <a class="nav-link" asp-controller="Funcionario" asp-action="Registro">
            Cadastrar Funcionário
        </a> 

        <div class="btn btn-default btn-flat">
            <a class="nav-link" asp-controller="Funcionario" asp-action="Login">
                Login
            </a>
        </div>
    </ul> *@
}







