
<link rel="stylesheet" href="~/css/site.css">

<ul class="sidebar-menu" data-widget="tree" >
    
    <br />
    <br />
    <li class="menuLi">
        <a class="btn menuLi" style="display: flex; align-items: center;" asp-controller="Home" asp-action="Index">
            <img src="~/imgs/home.png" />
            <span style="margin:5px; border-radius: 10px; font-size: 16px">Home</span>
        </a>
    </li>

    <li class="menuLi">
        <a class="btn menuLi" style="display: flex; align-items: center;" asp-controller="Monografia" asp-action="Index">
            <img src="~/imgs/imgMonografia.png" />
            <span style="margin:5px;border-radius: 10px; font-size: 16px">Monografia</span>
        </a>
    </li>


    <li class="treeview" style="border-radius: 10px;background-color: #E0D7D7;color: #36BA2B;margin-top: 5px;">
        <a href="#" class="menuLi" style="display: flex; align-items: center; justify-content: space-between">
            <i class="fa-solid fa-graduation-cap" style="color: #36BA2B;"></i>
            <span style="color: black; font-size: 16px;border-radius: 10px">Docentes e dicentes</span>
            <div style="padding-bottom: 5px; padding-right: 5x" >
                <i class="fa-solid fa-sort-down " style="color: black"></i>  
            </div>
            
        </a>
        <ul class="treeview-menu">
            <li>
                <a class="btn menuLi" style="display: flex; align-items: center;" asp-controller="Aluno" asp-action="Index">
                    <img src="~/imgs/alunoIcon.png" style="margin-left: 10px; margin-right:12px" />
                    <span>Alunos</span>
                </a>
            
            </li>

            <li >
                <a class="btn menuLi" style="display: flex; align-items: center;" asp-controller="Professor" asp-action="Index">
                    <img src="~/imgs/professorIcon.png" style="margin-left: 10px; margin-right:12px" />
                    <span>Professores</span>
                </a>
               
            </li>
        </ul>
    </li>
    
    <li class="menuLi">
        <a class="btn menuLi" style="display: flex; align-items: center;" asp-controller="Funcionario" asp-action="Registro">
            <img src="~/imgs/usuario.png" />
            <span style="margin:5px; border-radius: 10px;font-size: 16px">Castrar Usuário</span>
        </a>
    </li>

</ul>