html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.menuLi {
    border-radius: 10px;
    background-color: #E0D7D7;
    /*color: #36BA2B;*/
    color:black;
    margin-top: 5px;
    font-size: 20px; /* Tamanho padrão da fonte */
    transition: background-color 0.3s;
}

    .menuLi:hover {
        background-color: #A9A9A9;
        color: white;
    }


.edit-button {

    background-color: #3498db;
    color: black;
    font-weight: bold; /* Negrito */
}

.detalhe-button {

    background-color: #00FF7F;
    color: black;
    font-weight: bold; /* Negrito */
}

.delete-button {

    background-color: #FA8072;
    color: black;
    font-weight: bold; /* Negrito */
}

.edit-button:hover {

    background-color: #0000FF; /* Mudança de cor no hover */
    color: white;
}

.detalhe-button:hover {

    background-color: #006400; /* Mudança de cor no hover */
    color: white;
    font-weight: bold; /* Negrito */
}

.delete-button:hover {

    background-color: #FF0000; /* Mudança de cor no hover */
    color: white;
}

.criar-button {
    border-radius: 10px;
    background-color: #00FF7F;
    color: black;
    font-weight: bold; /* Negrito */
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.criar-button:hover {
    background-color: #006400; /* Mudança de cor no hover */
    color: white;
    font-weight: bold; /* Negrito */
}

.voltar-button {
    border-radius: 10px;
    background-color: #D3D3D3;
    color: black;
    font-weight: bold; /* Negrito */
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

    .voltar-button:hover {
        background-color: #696969; /* Mudança de cor no hover */
        color: white;
        font-weight: bold; /* Negrito */
    }