html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #202020;
}

.mono-index {
    padding-left: 100px;
    padding-right: 30px;
}

.index-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#index-tables{
    color:white;
}



.criar-button {
    border-radius: 10px;
    background-color: #5cb176;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
    border: none;
    text-decoration: none;
    margin-bottom: 20px;
}


.criar-button:hover {
    background-color: #4f9665;
}

.dropdown-menu {
    position: absolute;
    top: 10px;
    left:8px;
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 1;
}
.my-dropdown {
    position: relative;
    display: flex
    justify-content: center;
    align-items: center;
}
.my-dropdown:hover .dropdown-menu {
    display: block;
    
}

.dropdown-button {
    color: #202020;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 10px;
}
    .dropdown-button:hover {
        background-color: #5cb176;
    }

.voltar-button {
    border-radius: 10px;
    background-color: #D3D3D3;
    color: black;
    font-weight: bold; /* Negrito */
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.voltar-button:hover {
    background-color: #696969; /* Mudança de cor no hover */
    color: white;
    font-weight: bold; /* Negrito */
}



