html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #202020;
}

.mono-index {
    padding-left: 100px;
    padding-right: 30px;
}

.mono-crud{
    padding-left: 120px; padding-right: 30px;
    color: white;
    height: 110vh;
}

.mono-crud h4 {
    justify-content: center;
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.index-title, .mono-crud h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#index-tables{
    color:white;
}

.sites-formulario {
    background-color: #5cb176;
    max-width: 520px;
    margin:auto;
    display: flex;
    justify-content:center;
    padding: 50px 50px;
    border-radius: 10px;
}

.sites-formulario form{
    width: 100%;
}

.sites-formulario input{
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    margin-left: 10px;
}

.sites-form-group{
    margin-bottom: 30px;
}

#sites-iput-file {
    margin: 0;
    padding: 5px 20px 5px 1px;
    display: inline-block;
    border-radius: 0;
}

.submit-button {
    font-size: 18px;
    font-weight: bold;
    color: #202020;
}



.criar-button {
    border-radius: 10px;
    background-color: #5cb176;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding: 8px 12px;
    border: none;
    text-decoration: none;
    margin-bottom: 20px;
}

.criar-button:hover {
    background-color: #4f9665;
}

.dropdown-menu {
    position: absolute;
    top: 10px;
    left: 29px;
    background-color: white;
    border-radius: 10px;
    display: none;
    z-index: 1;
}

.my-dropdown {
    position: relative;
}
.my-dropdown:hover .dropdown-menu {
    display: block;
}

.my-dropdown button{
    background-color: #202020;
    border: none;
}

.my-dropdown button i {
    color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer
}

.dropdown-button {
    color: #202020;
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.dropdown-button:hover {
    background-color: #5cb176;
}

/*Data Table style*/
.dataTables_filter label, #index-tables_info, #index-tables_paginate {
    color: white;
}


/*Data Table style end */



.voltar-button {
    border-radius: 10px;
    background-color: #D3D3D3;
    color: black;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
}

.voltar-button:hover {
    background-color: #696969;
    color: white;
    font-weight: bold;
}

.sites-visualizar-pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}
.sites-visualizar-pdf embed{
    width: 100%;
    height: 500px;
}
.sites-visualizar-pdf a{
    margin: 10px 0;
    padding: 5px 10px;
    background-color: white;
    color: black;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
}

.sites-details {
    background-color: #5cb176;
    max-width: 650px;
    margin: auto;
    padding: 50px 50px;
    border-radius: 10px;
    
}

.sites-details dd{
    margin-bottom: 5px;
}



