@model SigMonografiasIfma.Models.Monografia

@{
    ViewData["Title"] = "Cadastrar Monografia";
}

<div class="mono-crud">
    <h1 class="index-title">Cadastrar</h1>

    <h4>Monografia</h4>
    <br />
    <div class="row">
        <div class="col-md-4 sites-formulario">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="sites-form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="DataApresentacao" class="control-label"></label>
                    <input asp-for="DataApresentacao" class="form-control" />
                    <span asp-validation-for="DataApresentacao" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="QtPaginas" class="control-label"></label>
                    <input asp-for="QtPaginas" class="form-control" />
                    <span asp-validation-for="QtPaginas" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="Pdf_ArquivoBinario" class="control-label"></label>
                    <span asp-validation-for="Pdf_ArquivoBinario" class="text-danger"></span>
                    <input type="file" accept="application/pdf" required name="MonografiaPDF" id="sites-iput-file" />
                </div>

                <div class="sites-form-group">
                    <label asp-for="AlunoId" class="control-label"></label>
                    <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                </div>
                <div class="sites-form-group">
                    <label asp-for="OrientadorId" class="control-label"></label>
                    <select asp-for="OrientadorId" class="form-control" asp-items="ViewBag.OrientadorId"></select>
                </div>
                <div >
                    <input type="submit" value="Criar" class="submit-button" />
                </div>
            </form>
        </div><!--Sites formulário-->
    </div>

   

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</div>