@model SigMonografiasIfma.Models.Monografia

@{
    ViewData["Title"] = "Edit";
}

<div class="mono-crud">
    <h1>Editar</h1>

    <h4>Monografia</h4>
    <div class="row">
        <div class="col-md-4 sites-formulario">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="sites-form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="DataApresentacao" class="control-label"></label>
                    <input asp-for="DataApresentacao" class="form-control" />
                    <span asp-validation-for="DataApresentacao" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="QtPaginas" class="control-label"></label>
                    <input asp-for="QtPaginas" class="form-control" />
                    <span asp-validation-for="QtPaginas" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="Pdf_ArquivoBinario" class="control-label"></label>
                    <small id="pdfHelp" class="form-text text-muted">Adicione o arquivo PDF da monografia aqui.</small>
                    <span asp-validation-for="Pdf_ArquivoBinario" class="text-danger"></span>
                    <input type="file" accept="application/pdf" name="newPdfFile" id="sites-iput-file" />
                </div>
                <div class="sites-form-group">
                    <label asp-for="AlunoId" class="control-label"></label>
                    <select asp-for="AlunoId" class="form-control" asp-items="ViewBag.AlunoId"></select>
                    <span asp-validation-for="AlunoId" class="text-danger"></span>
                </div>
                <div class="sites-form-group">
                    <label asp-for="OrientadorId" class="control-label"></label>
                    <select asp-for="OrientadorId" class="form-control" asp-items="ViewBag.OrientadorId"></select>
                    <span asp-validation-for="OrientadorId" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Salvar" class="submit-button" />
                </div>
            </form>
        </div>
    </div>

    
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
