@page
@model LoginViewModel
@{
    Layout = null;

}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="~/css/style.css" /> 
    <title>Login</title>
</head>
<body>

    <div class="content">
        <div class="content-left">
            <div class="centralize-left">
                <h1>
                    SigMonografias Ifma
                </h1>
                <i id="logo" class="fa-solid fa-file-pen" style="color: #ffffff;"></i>
                <p>Área reservada para os Funcionários <br> do setor DCOMP</p>
                <button>
                    <a asp-controller="Funcionario" asp-action="Registro">Novo Funcionário</a>
                </button>
            </div><!--Centralize-->
        </div><!--Content left-->

        <div class="content-right">
            <div class="centralize-right">

                <h1>Login</h1>

                <form method="post">
                    <div class="form">
                        <div class="input">
                            <label for="user">
                                <i class="fa-regular fa-user" style="color: gray;"></i>
                            </label>
                            <input type="text" id="user" placeholder="Usuário" onkeydown="return (event.key !== ' ');">
                        </div>
                        <div class="input">
                            <label for="password">
                                <i class="fa-solid fa-lock" style="color: gray;"></i>
                            </label>
                            <input type="password" id="password" placeholder="Senha" onkeydown="return (event.key !== ' ');">
                        </div>
                        <button id="btn-remember">
                            Esqueci minha senha
                        </button>
                    </div><!--form-->
                     <button type="submit"> SING IP </button> 

                </form>
            </div><!--Centralize right-->
        </div><!--content right-->
    </div><!--Content-->
</body>

<script src="https://kit.fontawesome.com/a37571b192.js" crossorigin="anonymous"></script>
</html>